.navBarContainer {
    padding: 1.5rem 1rem;

    display: flex;
    justify-content: space-between;
}

.button {
    background-color: transparent;
    border: none;
}

.title {
    color: #000;
    font-size: 1rem;
}