.emptyCart {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;

}

.emptyCartMessage {
    color: #000;
    font-size: 1rem;
}

.emptyCartButton {
    width: 20.375rem;
    height: 3.125rem;
    padding: 1.25rem 0.625rem;
   
    font-size: 1rem;
    color: #FFF;
   
    background: #0ACF83;
    border: none;
    border-radius: 0.625rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.cardCartContainer {
    height: 91vh;
    padding: 1.9rem 1.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buyInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalItems {
    font-size: .7rem;
    font-weight: 700;
    color: #000;
    
    opacity: .6;
}

.totalPrice {
    font-size: 1rem;
    font-weight: 700;
    color: #000;
}

.checkoutButton {
    width: 100%;
    height: 3.1rem;
    margin-top: 1.3rem;
    padding: 1.2rem 1.8rem;
 
    background: #0ACF83;
    border: none;
    border-radius: .6rem;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleButton {
    font-size: .8rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: #FFF;
}