.price {
    color: #0ACF83;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0 .3rem 1.5rem;
}

.title {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    padding: 0 1.5rem;
}

.productInfo {
    display: flex;
    gap: 2rem;
    padding-left: 1.5rem;
    position: relative;
}

.buttonInfo {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.3rem;
}

.lineOverview {
    width: 1.5rem;
    height: 0.1875rem;
    background: #0ACF83;
    position: absolute;
    top: 2.8rem;
    left: 2.8rem;
}

.lineFeatures {
    width: 1.5rem;
    height: 0.1875rem;
    background: #0ACF83;
    position: absolute;
    top: 2.8rem;
    left: 8.8rem;
}

.productImageContainer {
    display: flex;
    height: 24rem;
    margin: 0 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: .6rem;
    background: #F6F6F6;
}

.productImage {
    width: 15.4375rem;
    height: 17.83119rem;
    
}

.subtitle {
    color: #000;
    font-size: 1rem;
    padding-top: 1.6rem;
    padding-left: 1.5rem;
    padding-bottom: 1.2rem;
}

.subtitleReview {
    color: #000;
    font-size: 1rem;
    padding: 1.6rem 0 2.8rem 1.5rem;
}

.carouselContainer {
    margin-top: 2.7rem;
    background: #F6F6F6;
    width: 23.5625rem;
    height: 19.9375rem;
    flex-shrink: 0;
    padding-left: 1.5rem;
}

.seeAll {
    text-decoration: none;
    color: #7F7F7F;
    font-size: .8rem;
    padding-left: 9rem;
}

.buttonAdd {
    width: 20.375rem;
    height: 3rem;
    padding: 1.2rem .6rem;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: .6rem;
    background-color: #0ACF83;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    margin: 2.6rem 1.5rem
}

.pageDetails {
    padding: 0 1.5rem;
}

.titleDetails {
    color: #000;
    font-size: 1rem;
    padding-bottom: .8rem;
}

.contentDetails {
    color: #000;
    font-size: .8rem;
    line-height: 1.375rem;
}