.cardDetails {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.detailsContainer {
    display: flex;
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
}

.iconStar {
    width: 1rem;
    height: 1rem;
}

.iconMore {
    width: 1.25rem;
    height: 1.25rem;
}

.detail {
    padding-right: .6rem;
    padding-left: .2rem;

    font-size: .7rem;
    color: #000;
}