.cardItem {
    width: 20.4rem;
    height: 11rem;
    padding: 1.2rem 1.5rem;

    background-color: #FFF;
    border-radius: .6rem;

    display: flex;
    gap: .6rem;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #000;
}

.cardImage {
    width: 7.3125rem;
    height: 8.4375rem;
}

.shopNowContainer {
    display: flex;
    gap: 0.7rem;
}

.shopNow {
    font-size: .8rem;
    font-weight: 700;
    color: #0ACF83;
}

.iconArrow {
    width: 1.25rem;
    height: 1.25rem;
}

.link {
    text-decoration: none;
}