.cardItem {
    display: flex;
    width: 20.4rem;
    height: 11rem;
    padding: 1.2rem 1.5rem;
    gap: .6rem;
    border-radius: .6rem;
    background-color: #FFF;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    }

.cardImage {
    width: 7.3125rem;
height: 8.4375rem;

}

.shopNowContainer {
    display: flex;
    gap: 0.7rem;
    /* padding-top: 1.7rem; */
}

.shopNow {
    color: #0ACF83;
font-size: .8rem;
font-weight: 700;
}

.iconArrow {
    width: 1.25rem;
height: 1.25rem;
}